
    <p>@TempData["Message"]</p>


@using (Html.BeginForm("EnvoyerMessage", "Contact", FormMethod.Post))
{
    <div>
        <label>Nom:</label>
        <input type="text" name="nom" />
    </div>
    <div>
        <label>Email:</label>
        <input type="text" name="email" />
    </div>
    <div>
        <label>Message:</label>
        <textarea name="msg" rows="5"></textarea>
    </div>
    <input type="submit" value="Envoyer un message" />
}