@model AvisFormation.WebUi.Models.ToutesLesFormationsViewModel
@{
    ViewBag.Title = "ToutesLesFormations";
}

<h2>ToutesLesFormations</h2>

<p>Voici nos @Model.Formations.Count formations dans la ville de @Model.Ville </p>

@foreach (var formation in Model.Formations)
{
    <div>
        @Html.ActionLink(formation.Nom, "DetailFormation", "Formation", new { nomSeo = formation.NomSeo }, null)
    </div>
}

