@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<h1>Cici est un titre</h1>
texte hors balise
<p>Ceci est du texten marron</p>

<button >OK</button>


<p class="blue">Ceci est du texte en bleu</p>

<div class="mydiv">
    <p class="blue">ceci est du texte en bleu clair</p>
</div>

<p class="blue" id="green">ceci est du texte en vert</p>

